<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    <ion-searchbar  [(ngModel)]="titre" (ionInput)="searchArray(titre)"></ion-searchbar>
    <div *ngIf=resultats >
     <ion-card *ngFor="let result of resultats.Search" >
        <ion-item>
            <ion-avatar  item-start>
            <img (tap)="showDetails(result.imdbID)" [src]="result.Poster">
            </ion-avatar>
            <h2 text-capitalize>{{result.Title}}</h2>
            </ion-item>
            <ion-card-content>
                {{result.Year}}
            </ion-card-content>
     </ion-card>
          </div>
        <ion-infinite-scroll (ionInfinite)="loadMore($event)" >
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        
      
    <div id="ResultatFeild" *ngIf=!resultat>
      <h5>Pas d'info</h5>
    </div>
  
</ion-content>
