<ion-header>
  <ion-navbar>
    <ion-searchbar [(ngModel)]="titre" (ionInput)="searchArray($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="option"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content class="fond">
  <div *ngIf=tab>
    <ion-grid>
      <ion-row>
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let result of tab">
          <ion-card class="ion-card">
            <ion-card-content style="padding: 0%">
              <img item-start (tap)="showDetails(result.imdbID)" [src]="testImg(result.Poster)">
            </ion-card-content>
            <div class="titre" style="text-align:center">
                            {{result.Title}}
              <ion-badge>{{result.Year}}</ion-badge>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div id="ResultatFeild" *ngIf=!resultat>
    <h5>Pas d'info</h5>
  </div>
</ion-content>