page-index {
    .titre{
        color: blanchedalmond;
        font-size:1.1em;
        font-style: oblique;
    }
    .description{
        color: blanchedalmond;
        font-size:0.9em
         }
        
}
