page-index {
    .monImage{
        width: 30%; 
        height: 30%;
        margin: 0%;
        padding: 0%
        }
          
        .MonSlides {
            display: block;
            width: 100%;
            height: auto;
            
            
          }
}
