.monImage{
    width: 30%; 
    height: 30%;
    margin: 0%;
    padding: 0%
    }
      
    .MonSlides {
        
        width: 100%;
        height: auto;
        
        
      }
    .ion-card{
        background:  rgb(37, 37, 37);
    }
    .fond{
        background:  rgb(31, 31, 31);
    }
    .titre{
        color: blanchedalmond;
        font-size:1.1;
        font-style: oblique;
    }
    .description{
        color: blanchedalmond;
        font-size:0.9
         }
