<ion-header>
  <ion-navbar>
    <ion-title class="titre" *ngIf="resultat">{{resultat.Title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="fond description">
  <ion-card class="ion-card" *ngIf="resultat">
    <ion-card-content style="padding: 0%">
      <img src={{posterUrl}} />
      <ion-slides class="MonSlides" slidesPerView="3" loop="true">
        <ion-slide >
          <ion-badge color="dark">
            {{resultat.Genre}}
          </ion-badge>
        </ion-slide>
        <ion-slide>
          <ion-badge color="dark">
            {{resultat.Year}}
          </ion-badge>
        </ion-slide>
        <ion-slide>
          <ion-badge color="dark">
            {{resultat.imdbRating}}
            <ion-icon name="star"></ion-icon>
          </ion-badge>
        </ion-slide>
        <ion-slide>
          <ion-badge color="dark">
            {{resultat.Runtime}}
          </ion-badge>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
</ion-content>